#game-container {
    margin: auto;
}

h1, h2 {
    text-align: center;
}

#choices {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0 2rem;
}

#results {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}